<% page_name = 'index' %>

<%- include('partials/doc_top'); %>

<section>
    <p>Hi there, I’m Caroline.</p>
    <p>I am a machine learning designer/user researcher, artist, and digital anthropologist obsessed with language, culture and images.</p>
    <p>For the past few years, I have been examining the intersections of natural language processing, artificial intelligence, abuse, online harassment, and politics in digital, conversational spaces. I’m the founder of Convocation Design + Research, an agency focusing on the intersections of machine learning, user research, designing for public good, and solving difficult communication problems. As a designer and researcher, I’ve worked with Amnesty International, Intel, IBM Watson, the Wikimedia Foundation, and others.</p>
    <p>I’ve held fellowships with the Yerba Buena Center for the Arts, Eyebeam, STUDIO for Creative Inquiry, and the International Center of Photography. My work has been featured in MoMA PS1, the Houston Center for Contemporary Craft, Slate, Quartz, and the Channels Festival. I hold a masters from New York University’s Interactive Telecommunications Program.v</p>
</section>

<%- include('partials/doc_bottom'); %>
