<% page_name = 'index' %>

<%- include('partials/doc_top'); %>

<section id="intro">
    <p>Hi there, I’m Caroline.</p>
    <p>I am a machine learning designer/user researcher, artist, and digital anthropologist obsessed with language, culture and images.</p>
    <p>For the past few years, I have been examining the intersections of <a href="#surveillance" data-topic-link="surveillance">natural language</a> <a href="#abuse" data-topic-link="abuse">processing</a>, <a href="#social-media" data-topic-link="social-media">artificial intelligence</a>, <a href="#loss" data-topic-link="loss">abuse</a>, <a href="#feminism" data-topic-link="feminism">online</a> <a href="#ai" data-topic-link="ai/ml">harassment</a>, and <a href="#politics" data-topic-link="politics">politics</a> in digital, conversational spaces. I’m the founder of Convocation Design + Research, an agency focusing on the intersections of machine learning, user research, designing for public good, and solving difficult communication problems. As a designer and researcher, I’ve worked with Amnesty International, Intel, IBM Watson, the Wikimedia Foundation, and others.</p>
    <p>I’ve held fellowships with the Yerba Buena Center for the Arts, Eyebeam, STUDIO for Creative Inquiry, and the International Center of Photography. My work has been featured in MoMA PS1, the Houston Center for Contemporary Craft, Slate, Quartz, and the Channels Festival. I hold a masters from New York University’s Interactive Telecommunications Program.</p>
</section>

<section id="work">

    <div id="timelines"></div>
    
    <div id="projects">
    
        <article data-project-start-date="2017-08-01T00:00" data-project-end-date="2020-01-01T00:00" data-project-topics="feminism,politics">
            <h2>Feminist Data Set</h2>
            <p>lorem ipsum facto bacto fako bako tako rako bleep blorp blap</p>
        </article>
    
        <article data-project-start-date="2017-08-01T00:00" data-project-end-date="2018-03-01T00:00" data-project-topics="surveillance">
            <h2>Dark Patterns</h2>
            <p>lorem ipsum facto bacto fako bako tako rako bleep blorp blap</p>
        </article>
    
        <article data-project-start-date="2016-01-01T00:00" data-project-end-date="2016-04-01T00:00" data-project-topics="loss">
            <h2>What Was This Before</h2>
            <p>lorem ipsum facto bacto fako bako tako rako bleep blorp blap</p>
        </article>
    
        <article data-project-start-date="2015-01-01T00:00" data-project-end-date="2016-01-01T00:00" data-project-topics="social-media,loss">
            <h2>Social Media Break Up Coordinator</h2>
            <p>lorem ipsum facto bacto fako bako tako rako bleep blorp blap</p>
        </article>
    
        <article data-project-start-date="2015-01-01T00:00" data-project-end-date="2015-03-01T00:00" data-project-topics="ai/ml">
            <h2>Black Box</h2>
            <p>lorem ipsum facto bacto fako bako tako rako bleep blorp blap</p>
        </article>
    
        <article data-project-start-date="2015-03-01T00:00" data-project-end-date="2015-09-01T00:00" data-project-topics="social media">
            <h2>I've Got 99 Problems and Figuring Out What's Chill to Post on Reddit is All of Them</h2>
            <p>lorem ipsum facto bacto fako bako tako rako bleep blorp blap</p>
        </article>
    
        <article data-project-start-date="2014-02-01T00:00" data-project-end-date="2014-06-01T00:00" data-project-topics="feminism,politics">
            <h2>NightWitches</h2>
            <p>lorem ipsum facto bacto fako bako tako rako bleep blorp blap</p>
        </article>
    
        <article data-project-start-date="2013-07-01T00:00" data-project-end-date="2013-11-01T00:00" data-project-topics="politics">
            <h2>#ReadYourTags</h2>
            <p>lorem ipsum facto bacto fako bako tako rako bleep blorp blap</p>
        </article>
    
        <article data-project-start-date="2013-01-01T00:00" data-project-end-date="2013-06-01T00:00" data-project-topics="ai/ml">
            <h2>Nudge Nudge</h2>
            <p>lorem ipsum facto bacto fako bako tako rako bleep blorp blap</p>
        </article>
    
    </div>
    
</section>

<%- include('partials/doc_bottom'); %>
