@import "plumber";
@import "andys-reset";
@import "font-faces";
@import "typography";
  
#work {
    display: flex;
    background: white;
    #timelines {
        flex-basis: 25%;
        position: relative;
        .timelineRange {
            position: absolute;
            background: white;
            width: 100%;
            mix-blend-mode: difference;
            &:after {
                content: ' ';
                display: block;
                height: 100%;
                width: 30px;
                position: absolute;
                right: -30px;
                background: white;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
            }
        }
    }
    #projects {
        flex-basis: 75%;
        article {
            margin: 1rem 2rem 1rem 50%;
            @media (max-width: 768px) {
                margin-left: 2rem;
            }
        }
    }
}

// make some border-radius-based braces you brilliant fool