@import "plumber";
@import "andys-reset";
@import "font-faces";
@import "typography";


$color1: hsl(194,98%,41%);
$color2: hsl(160,97%,39%);
$color3: hsl(84,61%,62%);
$color4: hsl(40,96%,63%);
$color5: hsl(18,86%,57%);
$color6: hsl(343,98%,47%);
$color7: hsl(308,98%,39%);

#intro {
    a[data-topic-link] {
        text-decoration: none;
        color: black;
        padding: 2px 4px;
        border-radius: 4px;;
        &:nth-of-type(1) { background-color: $color1; }
        &:nth-of-type(2) { background-color: $color2; }
        &:nth-of-type(3) { background-color: $color3; }
        &:nth-of-type(4) { background-color: $color4; }
        &:nth-of-type(5) { background-color: $color5; }
        &:nth-of-type(6) { background-color: $color6; }
        &:nth-of-type(7) { background-color: $color7; }
    }
}

#work {
    display: flex;
    #timelines {
        flex-basis: 10%;
        position: relative;
        display: flex;
        .timelineTopic {
            width: 100%;
            &:nth-of-type(1) { background-color: $color1; }
            &:nth-of-type(2) { background-color: $color2; }
            &:nth-of-type(3) { background-color: $color3; }
            &:nth-of-type(4) { background-color: $color4; }
            &:nth-of-type(5) { background-color: $color5; }
            &:nth-of-type(6) { background-color: $color6; }
            &:nth-of-type(7) { background-color: $color7; }    
        }
        .timelineRange {
            position: absolute;
            width: 100%;
            border-top: 1px dashed black;
            border-bottom: 1px dashed black;
            background-color: rgba(255,255,255,0.4);
            // &:after {
            //     content: ' ';
            //     display: block;
            //     width: 8px;
            //     position: absolute;
            //     top: -1px;
            //     right: -8px;
            //     bottom: -1px;
            //     border-top: 1px solid black;
            //     border-right: 1px solid black;
            //     border-bottom: 1px solid black;
            //     border-top-right-radius: 8px;    
            //     border-bottom-right-radius: 8px;
            // }
            .topic {
                background-color: rgba(0,0,0,0.7);
                width: calc(14.285714286% - 8px);
                height: calc(100% - 8px);
                display: inline-block;
                position: absolute;
                margin: 4px;
                border-radius: 4px;
                &.surveillance { left: 0%; }
                &.abuse { left: 14.285714286%; }
                &.social-media { left: 28.571428572%; }
                &.loss { left: 42.857142858%; }
                &.feminism { left: 57.142857144%; }
                &.ai { left: 71.42857143%; }
                &.politics { left: 85.714285716%; }
            }
        }
    }
    #bracecords {
        flex-basis: 35%;
        @media (max-width: 768px) {
            // display: none;
        }
    }

    #projects {
        position: relative;
        flex-basis: 55%;
        article {
            margin: 1rem 2rem 1rem 0.5rem;
            @media (max-width: 768px) {
                // margin-left: calc(40px + 1rem);
            }
        }
    }
}

// make some border-radius-based braces you brilliant fool