@import "plumber";
@import "andys-reset";
@import "typography";


$color1: #4EACF8;
$color2: #2AD9C9;
$color3: #25CD92;
$color4: #FAB353;
$color5: #F88B5A;
$color6: #F46E6E;
$color7: #F481C0;
$color8: #C17BC8;

$didot: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
$raleway: Raleway, sans-serif;
$laica: Laica, sans-serif;

$breakpoint: 768px;

body {
    max-width: 1000px;
    font-size: 16px;
    margin: 32px 32px 0;
    font-weight: 300;
    font-style: normal;
    font-family: $laica;
    @media (max-width: $breakpoint) {
        margin: 12px 12px 0;
    }
}

p {
    margin: 0;
}

a {
    color: rgb(150, 63, 232);
}

figure {
    margin: 1rem 0;
}

section {
    padding: 0 1.2rem;
    @media (max-width: $breakpoint) {
        padding: 0 0.6rem;
    }
}

nav {
    margin-bottom: 5rem;
    padding: 0.7rem 1.2rem;
    background-color: $color1;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint) {
        flex-direction: column-reverse;
        margin-bottom: 2rem;
        padding-right: 0.6rem;
        padding-left: 0.6rem;
    }
    h1 {
        font-size: 16px;
        a {
            color: #FFF;
            text-decoration: none;
        }
    }
    ul.menu {
        display: inline;
        @media (max-width: $breakpoint) {
            font-size: 12px;
        }
        li {
            display: inline;
            &.current-menu-item a {
                border-bottom: 1px solid #FFF;
            }
            &:after {
                content: ' •';
                padding-right: 0.6rem;
                @media (max-width: $breakpoint) {
                    content: ' /';
                    padding-right: 0.4rem;
                }
            }
            &:last-child:after {
                display: none;
            }
            a {
                color: white;
                text-decoration: none;
                margin-right: 1rem;
                padding-bottom: 0.2rem;
                @media (max-width: $breakpoint) {
                    margin-right: 0.6rem;
                }        
            }
        }
    }
}

#intro {
    a[data-topic-link] {
        text-decoration: none;
        color: black;
        padding: 2px 4px;
        border-radius: 4px;;
        &:nth-of-type(1) { background-color: $color1; }
        &:nth-of-type(2) { background-color: $color2; }
        &:nth-of-type(3) { background-color: $color3; }
        &:nth-of-type(4) { background-color: $color4; }
        &:nth-of-type(5) { background-color: $color5; }
        &:nth-of-type(6) { background-color: $color6; }
        &:nth-of-type(7) { background-color: $color7; }
        &:nth-of-type(8) { background-color: $color8; }
    }
    margin-bottom: 2rem;
}

#work {
    display: flex;
    #timelines {
        flex-basis: 10%;
        position: sticky;
        top: 20px;
        max-height: calc(100vh - 40px);
        display: flex;
        .timelineTopic {
            width: 100%;
            &:nth-of-type(1) { background-color: $color1; }
            &:nth-of-type(2) { background-color: $color2; }
            &:nth-of-type(3) { background-color: $color3; }
            &:nth-of-type(4) { background-color: $color4; }
            &:nth-of-type(5) { background-color: $color5; }
            &:nth-of-type(6) { background-color: $color6; }
            &:nth-of-type(7) { background-color: $color7; }
            &:nth-of-type(8) { background-color: $color8; }
            .timelineLabel {
                position: absolute;
                text-transform: uppercase;
                z-index: 99999;
                color: black;
                transform-origin: left bottom;
                white-space: nowrap;
                line-height: 0.9vw;
                transform: rotate(90deg) translate(-0.9vw, -0.10vw);
                font-size: 0.7vw;
                padding: 0 5px;
                @media (max-width: $breakpoint) {
                    display: none;
                }
            }
        }
        .timelineRange {
            position: absolute;
            width: 100%;
            // border-top: 1px dashed black;
            // border-bottom: 1px dashed black;
            // background-color: rgba(255,255,255,0.4);
            .topic {
                // background-color: rgba(0,0,0,0.7);
                width: calc(12.5% - 4px);
                height: calc(100% - 2px);
                display: inline-block;
                position: absolute;
                margin: 1px 2px;
                border-radius: 100px;
                background-color: rgba(255,255,255, 0.5);
                @media (max-width: $breakpoint) {
                    width: 12.5%;
                    height: 100%;
                    margin: 0;
                    border-radius: 0;
                }
                &.privacy { left: 0%; }
                &.data { left: 12.5%; }
                &.feminism { left: 25%; }
                &.abuse { left: 37.5%; }
                &.social-networks { left: 50%; }
                &.loss { left: 62.5%; }
                &.ai { left: 75%; }
                &.politics { left: 87.5%; }
            }
        }
    }
    #bracecords {
        flex-basis: 35%;
        @media (max-width: $breakpoint) {
            // display: none;
        }
    }

    #projects {
        position: relative;
        flex-basis: 55%;
        article {
            margin: 1rem 2rem 3.5rem 0.5rem;
            @media (max-width: $breakpoint) {
                margin: 1rem 0 1.5rem 0.5rem;
            }
    
            h2 {
                a {
                    text-decoration: none;
                }
            }
            @media (max-width: $breakpoint) {
                // margin-left: calc(40px + 1rem);
            }
        }
    }
}

// Style for individual project pages
.project {
    header {
        display: flex;
        margin-bottom: 3rem;
        @media (max-width: $breakpoint) {
            margin-bottom: 1rem;
        }
        padding-bottom: 0.4rem;
        border-bottom: 1px solid #000;
        align-items: baseline;
        h2 {
            margin-right: 0.5rem;
        }
        .projectDateRange {
            font-style: italic;
        }
        .projectTopics {
            font-style: italic;
            margin-left: auto;
            text-transform: lowercase;
        }
    }
}